*.o
*.d
*.crf
*.d
*.axf
*.pbi
*.pbd
*.htm
*.xcl
*.lnp
*.__i
*.map
*.browse
*.linf
*.pbw
*.dep

Obj/
*.bak
*.log
*.dep
*.bat
*.ps1
*.xcl
*.wsdt
*.crun
*.dbgdt
*.dnx
*DS_Store